{% extends 'base.html' %}

{% block content %}
        <!--  Меню -->
    <section class="def">
        <div class="container">
            <div class="info">
                <div><img src="https://www.nethik.fr/mbThemes/u-nethik/images-v2/solutions/voteweb/main-static.png" alt=""></div>
                <div class="article">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore ea quas quos!</p>
                    <a href="vote.html"><button class="start">Start voting</button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Developers -->
    <section class="about">
        <div class="container">
            <div class="about-inner">
                <h1>Our Developers</h1>
                <p></p>
                <div class="about-list">
                    <div class="about-user">
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Galactic Empire" />
                        <span class="about-text">
                        <h2>Zeynep Galymzhankyzy</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore repudiandae itaque illum impedit facere non officia ducimus aliquam ex aut, error ipsum laudantium ipsa. Est repellat totam mollitia labore explicabo?
                        </p>
                    </span>
                    </div>
                    <div class="about-user">
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Rebels" />
                        <span class="about-text">
                        <h2>Ildar Rinatov</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore repudiandae itaque illum impedit facere non officia ducimus aliquam ex aut, error ipsum laudantium ipsa. Est repellat totam mollitia labore explicabo?
                        </p>
                    </span>

                    </div>
                    <div class="about-user">
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Rebels" />
                        <span class="about-text">
                        <h2>Aigerim Karibekova</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore repudiandae itaque illum impedit facere non officia ducimus aliquam ex aut, error ipsum laudantium ipsa. Est repellat totam mollitia labore explicabo?
                        </p>
                    </span>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us -->
    <section class="sub">
        <div class="container">
            <div class="sub-inner">
                <h1>Get extra information</h1>
                <p>Please enter your e-mail so we can contact you</p>
                <div class="sub-input">
                    <input type="text" placeholder="Enter your email">
                    <span>Contact Us</span>
                </div>
                <p>We do not send spam and do not share your data with anyone.</p>
            </div>
        </div>
    </section>
{% endblock %}